* {
  background-color: transparent;
  color: #b5bfe2;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
}

#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: #303446;
  border-radius: 999px;
  padding: 0 10px;
  margin-top: 0;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

#tooltip {
  background-color: #303446;
  border-radius: 8px;
  padding: 2px;
}

menu {
  background-color: #303446;
}

menuitem {
  background-color: transparent;
}

#clock {
  margin: 0 1.5px;
}

.hidden {
  opacity: 0;
}
